.nav-box {
    height: 70px;
}

.nav-btn-box {
    height: 100%;
}

.nav-btn-a {
    width: 100%;
}


.post-form {
    width: 70%;
    margin: auto;
}


.post-info {
    padding: 30px 50px;
}

.p-i-list {
    display: flex;
    margin: 40px 40px 0 100px;
}

.error-msg {
    width: 600px;
    text-align: left;
    margin: 0 0 0 275px;
    color: red;
}